* text=auto
*.php text
*.css text
*.js text
*.txt text
*.md text
*.xml text
*.json text
*.bat text
*.sql text
*.yml text

*.png binary
*.jpg binary
*.gif binary
*.ttf binary

# Ignore meta data
/tests export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml export-ignore
/psalm-baseline.xml export-ignore
/README.md export-ignore
/phpcs.xml export-ignore
/internal export-ignore
/docs export-ignore
/examples export-ignore
/Makefile export-ignore
